@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

body{
    background: none;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #3c3c3c;
    scroll-behavior: smooth;
}

#header
{   
    top: 52vh;
    position: absolute;
    left:0;
    width: 100%;
    padding: 5vh 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#header ul, #in-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li, #in-header ul li {
    list-style: none;
    margin-left: 5vh;
}
#header ul li a, #in-header ul li a {
    text-decoration: none;
    padding: 1vh 4vh;
    color: rgb(255, 255, 255);
    background-color: #0000000c;
    border-radius: 5vh;
    font-weight: 800;
}

#header ul li a:hover, 
#header ul li a.active-menu{
    color: azure;
}

section{
    position: relative;
    width: 100%;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

section img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    transition-timing-function: ease;
}

.menu-title{
    font-size: 5em;
    color:white;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}


.in-site img{
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    transition-timing-function: ease;

}

section #rightdoor, section #leftdoor {
z-index: 2;
}
section #entry {
z-index: 5;
}

section #afelogo{
    position: absolute;
    top: 40vh;
    z-index: 1;
}

section #menu_screen{
    position:relative
}

section #team_screen{
    position:relative

}

section #text
{
    position: absolute;
    color: rebeccapurple;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    transform: translateY(-50px);
}

section #text span
{
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background-color: #ee4e27;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(150px);
    z-index: 1;
}

.sec
{
    position: relative;
    padding: 100px;
    background-color: rebeccapurple;
    margin-top: -6px;
}

.sec h2 {
    font-size: 3.5em;
    color:white;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color:white;
}

